body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.logo-text {
  font-weight: 700;
  color: #e60000
}

.navbar-custom {
  background: #ffffff;
  border-bottom: 1px solid #eee;
}

